.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  margin-bottom: 24px;
}

.title {
  font-size: 13px;
  text-transform: uppercase;
  width: 160px;
  min-width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;
  font-weight: 400;
  cursor: pointer;
}

@media (min-width: 640px) {
  .title {
    width: 200px;
    min-width: 200px;
  }
}


.arrowContainer {
  display: flex;
  flex-direction: column;
}

.ascArrow {
  transform: rotate(180deg);
}
